// === Mixins ===
@mixin font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

// === / Mixins ===

// === Variables ===
$color-main: #059bc1;
$color-white: #ffffff;
$color-black: #000000;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px; 
// === / Variables ===

// === Common ===
*, *::before, *::after {
  box-sizing: border-box;
}

.body,
a,span{
  font-family: 'Montserrat', sans-serif;
}
.section-outer {
  padding-right: 1.25rem; 
  padding-left: 1.25rem;
}
.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}
// === / Common ===

// === Header ===
.header{
  height: 100px;
  background-color: #f8f8f8;
  margin-bottom: 35px;
  overflow: hidden;
  .section-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-main-ref{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 390px;

    &__logo img{
      width: 130px;
    }
    &__item{
      color: $color-black;
      text-decoration: none;
      font-size: 1.168rem;
    }
  }
  &-buttons{
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;

    &__settings{
      text-decoration: none;
      color: $color-main;
    }
    &__exit{
      text-decoration: none;
      color: $color-white;
      display: inline-block;
      background-color: $color-main;
      height: 38px;
      line-height: 36px;
      padding: 0px 20px;
      border-radius: 19px;
    }
    &__social{
      display: block;
      width: 40px;
      height: 35px;
      position: relative;

      &::before,
      &::after{
        content:'';
        display: block;
        position: absolute;
        top: 0;right: 0;left: 0;bottom: 0;
        background-size: contain;
        transition: all 200ms ease 50ms;
      }

      &::before{
        background: url(../img/telegram_icon.svg) no-repeat 50% 50%;
      }
      &::after{
        background: url(../img/telegram_icon_blue.svg) no-repeat 50% 50%;
        transform: translate(-50px, 40px);
        opacity: 0;
      }

      &:hover{
        &::before{
          transform: translate(50px, -40px);
          opacity: 0;
        }
        &::after{
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}
// Media Mobile
@media screen and (max-width: $screen-md-max) and (min-width: $screen-md){
  .header{
    height: 60px;

    &-main-ref{
      margin-right: 40px;
    }

    &-main-ref__logo img{
      width: 100px;
    }
  }
}
@media screen and (max-width: $screen-sm-max){
  .header{
    height: auto;

    .section-inner{
      flex-direction: column;
    }

    &-main-ref{
      width: 100%;
      padding:10px 0;
      border-bottom: 1px solid $color-main;

      &__logo img{
        width: 80px;
      }
    }
    &-buttons{
      width: 100%;
      padding:10px 0;

      &__exit{
        color: $color-main;
        display: inline;
        line-height: normal;
        background-color: transparent;
        padding: 0;
        height: auto;
        order: 1;
      }
    }
    & div>a{
      width: 90px;
      text-align: center;
    }
    
  }
}
// === / Header ===

// === Athlete info ===
.athlete-info{
  margin-bottom: 15px;
  .section-inner{
    display: flex;
    justify-content: space-between;
  }

  &-avatar{
    margin-right: 90px;
    position: relative;
    max-width: 340px;

    &__photo{
      width: 340px;
      height: 360px;
      border-radius: 1rem;
    }
    &__fullname{
      background-color: $color-white;
      position: absolute;
      display: block;
      top: 260px;
      left: 20px;
      width: 300px;
      padding: 20px;
      border-radius: 16px;
      .name{
        font-size: 1.125rem;
        font-weight: 700;
        display: block;
      }
      .date-birth{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9375rem;
      }
    }
  }
  &-charts{
    flex-grow: 1;
    font-size: 1.125rem;
    margin-top: 26px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title{
      font-weight: bold;
    }
    &__wrapper{
      display: flex;
      justify-content: space-between;

      .chart-item{
        text-align: center;
        width: 130px;
        color: #8c9198;
        margin-bottom: 15px;

        &__svg-wrapper{
          position: relative;

        }
        &__svg{
          display: block;
          margin: 0px auto;
          &.pink{
            stroke: url(#pink);
            &+.chart-item__number{
              color: #e61d56;
            }
          }
          &.purple{
            stroke: url(#purple);
            &+.chart-item__number{
              color: #c81ac7;
            }
          }
          &.dodgerblue{
            stroke: url(#dodgerblue);
            &+.chart-item__number{
              color: #1c6fdf;
            }
          }
          &.lime{
            stroke: url(#lime);
            &+.chart-item__number{
              color: #27ca08;
            }
          }

          .circle-bg{
            fill: none;
            stroke: #d7d7d7;
            stroke-width: 4;
          }
          .circle{
            fill: none;
            stroke-width: 4;
            animation: progress 1.5s ease-out forwards;
          }
          .number{
            font-family: 'Montserrat', sans-serif;
            text-anchor: middle;
            fill: #666;
            stroke: none;
          }

          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
        }
        &__number{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
          font-weight: bold;
          font-style: italic;
        }
        &__name{}
      }
    }
    &__coach{
      font-size: 1.25rem;
      text-transform: uppercase;
      // text-align: center;

      .name{
        font-weight: bold;
        font-style: italic;
      }
    }
  }
}
// Media Mobile
@media screen and (max-width: $screen-md-max) and (min-width: $screen-md){
  .athlete-info-avatar{
    margin-right: 35px;
  }

  .athlete-info-charts{
    margin-top: 0;

    &__title{
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .athlete-info-charts__wrapper{
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    width: 380px;
  }
}

@media screen and (max-width: $screen-sm-max){
  .athlete-info{

    .section-inner{
      flex-direction: column;
    }
    &-avatar{
      margin: 0 auto;
    }

    &-charts{
      margin-top: 15px;
  
      &__title{
        margin-bottom: 10px;
        text-align: center;
      }
      &__wrapper{
        margin-bottom: 20px;
      }
      &__coach{
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: $screen-sm){
  html {
    font-size: 12px;
  }
  .athlete-info-avatar{
    &__photo{
      height: auto;
      width: 260px;
    }
    &__fullname{
      width: 240px;
      top: 216px;
      left: 10px;
      border-radius: 5px;
      padding: 10px;

      .name{
        font-size: 1.225rem;
      }
    }
  }
  
  .athlete-info-charts{
    &__wrapper{
      flex-wrap: wrap;
      margin: 0 auto 20px auto;
      width: auto;
      justify-content: center;
  
      .chart-item{
        width: 110px;
        margin: 0 15px 15px;
      }
    }
    &__coach{
      text-align: center;
    }
  }
  
}


// === / Athlete info ===

// === Training statistics ===
.training-statistics{
  overflow: hidden;
  margin-bottom: 15px;

  .section-inner{
    background-color: #f8f9fa;
    padding: 15px 50px;
    border-radius: 1rem;
  }
  &__title{
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__table-header{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 0.875rem;
    color: #a7a7a7;
    display: flex;
    border-bottom: 1px solid #dddddd;

    .date-location{
      display: block;
      width: 130px;
    }
    .wrapper{
      display: flex;
      justify-content: space-between;
      width: 80%;
      padding-left: 50px;
      
    }
  }

  &-table{
    display: flex;
  }
  .main-slider{
    position: relative;
    width: 130px;
    margin-bottom: 50px;
    min-width: 0;

    .slick-track{
      display: block;
    }

    .slick-list{
      overflow: hidden;
    }

    .slick-arrow{
      position: absolute;
      bottom: -45px;
      z-index: 10;
      font-size: 0;
      width: 15px;
      height: 10px;
      border: 0;
      padding: 20px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 15px 10px;
      background-color: transparent;
      cursor: pointer;

      &:hover{
        box-shadow: 0 0 0 2px #e4e4e4;
        transition: all 300ms ease;
      }
      
      &.slick-prev{
        background-image: url(../img/arrow-slider-up.svg);
        left: 5px;
      }
      &.slick-next{
        background-image: url(../img/arrow-slider-down.svg);
        right: 5px;
      }
    }
    &__item{
      height: 75px;
      border-right: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      color: #ababab;
      font-size: 1rem;//0.875rem;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;

      time{
        // display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
      }

      &.slick-current{
        color: $color-main;
      }
    }

  }
  .info-slider{
    position: relative;
    padding-left: 50px;
    padding-top: 30px;
    width: 80%;
    height: 290px;
    min-width: 0;

    .slick-track{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    // .slick-list{
    //   overflow: hidden;
    // }

    &__item{
      text-align: center;

      .row-property{
        display: flex;
        justify-content: space-between;
        line-height: 2rem;
        align-items: center;

        &__style{}
        &__length{
          font-weight: 900;
          font-style: italic;

          &::after{
            content: " Ð¼";
          }
        }
        &__none{
          display: block;
          width: 1.8rem;
          height: 1.8rem;
          background: url(../img/cancel.svg) 50% 50% / 0.9rem no-repeat;
          cursor: pointer;
        }
        &__mark{
          display: block;
          height: 1rem;
          width: 120px;
          border-radius: 3px;

          &.one{
            background-image: linear-gradient(to right, #7d4cf0, #183cdc);
          }
          &.two{
            background-image: linear-gradient(to right, #f04c99, #c730db);
          }
          &.three{
            background-image: linear-gradient(to right, #f79132, #f53d99);
          }
          &.four{
            background-image: linear-gradient(to right, #f7d932, #d2fd35);
          }
          &.five{
            background-image: linear-gradient(to right, #2ccb09, #8ed515);
          }
          
        }
      }
    }
  }
}
// === / Training statistics ===

// === Calendar ===
.calendar{
  .section-inner{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
  }

  .calendar-event-info{
    position: relative;

    img{
      height: 100%;
    }

    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.47)
    }

    &__message-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      // flex-basis: 100%;
      height: 70%;
      padding: 36px 40px;

      & span{
        color: $color-white;
        font-size: 1.25rem;
        line-height: 1.875rem;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;
        width: 80%;
      }
    }
    
  }

  #calendar{
    background-color: #000000;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    padding: 37px;
    z-index: 1;
    
  th, td{
    border: none;
  }
  
  .fc-dayGrid-view .fc-body .fc-row {
    min-height: 3em;
  }

  .fc-toolbar h2{
    text-transform: capitalize;
  }

  .fc-content {
    font-size: 0;
    height: 10px;
  }

  .fc-widget-content.fc-today{
    background: none;
  }

  .fc-content-skeleton .fc-today{

    &::after,
    &::before{
      content: '';
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &::after{
      width: calc(1.7rem + 3px);
      height: calc(1.7rem + 3px);
      border-width: 3px;
      border-color: #7ab046;
    }
    &::before{
      width: calc(1.7rem - 1px);
      height: calc(1.7rem - 1px);
      border-width: 6px;
      border-color: $color-black;
    }
  }

  .fc-day-header {
    text-transform: uppercase;
  }

  .fc-day-top.fc-other-month{
    opacity: 1;
    color: #414b58;
  }

  .fc-day{
    text-align: center;
    position: relative;
  }

  .fc-more-cell{
    text-align: center;
    margin-top: 10px;
    position: relative;
  }
  .fc-more{
    font-size: 0;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);

    &::after{
      content: '\2022';
      color: #ecc30a;
      font-size: 2rem;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
    }
  }

  .fc-event-container{

    .fc-event{
      bottom: 9px;
    }

    & .fc-event.fc-start.fc-not-end{
      height: 26px;
      background: linear-gradient(to right, #1596c4,  #1396c4);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    & .fc-event.fc-not-start.fc-end{
      height: 26px;
      background: linear-gradient(to right, #c356e7 , #ab5ee2);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    &[colspan]{
      // border: 1px solid red;
      z-index: 1;
  
      &>a {
        background: linear-gradient(to right, #c356e7,  #1396c4);
        height: 26px;
        border: none;
      }
      & .fc-event.fc-start.fc-end{
        border-radius: 10px;
      }
    }
    &:not([colspan]){
      & .fc-event.fc-start.fc-end{
        background: transparent;
        border: none;
        text-align: center;
  
        &::after{
          content: '\2022';
          color: #ecc30a;
          font-size: 2rem;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 0;
        }
      }
    }
  
  }
  
    .fc-day-top{
      text-align: center;
      position: relative;
      top: 15px;
      z-index: 10;
    }
    .fc-day-number{
    float: none;
    font-weight: 700;

    }

    //gradients
    $clr-1: #c356e7;
    $clr-2: #9c64df;
    $clr-3: #846ddb;
    $clr-4: #6b77d6;
    $clr-5: #537fd1;
    $clr-6: #3889cb;
    $clr-7: #1396c4;

   .fc-event-container[colspan="2"]{
    & .fc-event.fc-start.fc-not-end{
      background: linear-gradient(to right, $clr-6 , $clr-7);
    }
    & .fc-event.fc-not-start.fc-end{
      background: linear-gradient(to right, $clr-1 , $clr-2);
    }
  }
  .fc-event-container[colspan="3"]{
    & .fc-event.fc-start.fc-not-end{
      background: linear-gradient(to right, $clr-5,  $clr-7);
    }
    & .fc-event.fc-not-start.fc-end{
      background: linear-gradient(to right, $clr-1 , $clr-3);
    }
  }
  .fc-event-container[colspan="4"]{
    & .fc-event.fc-start.fc-not-end{
      background: linear-gradient(to right,  $clr-4,  $clr-7);
    }
    & .fc-event.fc-not-start.fc-end{
      background: linear-gradient(to right, $clr-1 ,  $clr-4);
    }
  }
  .fc-event-container[colspan="5"]{
    & .fc-event.fc-start.fc-not-end{
      background: linear-gradient(to right, $clr-3,  $clr-7);
    }
    & .fc-event.fc-not-start.fc-end{
      background: linear-gradient(to right, $clr-1 ,  $clr-5);
    }
  }
  .fc-event-container[colspan="6"]{
    & .fc-event.fc-start.fc-not-end{
      background: linear-gradient(to right, $clr-2,  $clr-7);
    }
    & .fc-event.fc-not-start.fc-end{
      background: linear-gradient(to right, $clr-1 , $clr-6);
    }
  }
  .fc-event-container[colspan="7"]{
    & .fc-event.fc-start.fc-not-end,
    & .fc-event.fc-not-start.fc-end,
    & .fc-event.fc-not-start.fc-not-end,
    & .fc-event.fc-start.fc-end {
      background: linear-gradient(to right, $clr-1,  $clr-7);
    }
  }

  }
 

}
// === / Calendar ===

// === Footer ===
.footer{
  .section-inner{
    height: 100px;
    position: relative;
  }
  &-copyright{
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 33px;

    a{
      color: #000000;
      text-decoration: none;
      transition: 200ms;

      &:hover{
        opacity: .6;
      }
    }
  }
}
// === / Footer ===
